.header-img {
  height: 80vh;
  width: 100%;
}

.heaer-section {
  position: relative; /*Possition relateive for parent object*/
}

.header-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000;
  /* z-index: 20; */
  height: 80vh;
  opacity: 0.4;
}

.header-img-div {
  height: 40%;
  width: 100px;
  margin: 20px;
  /* opacity: 0.1; */
}

.champ-logo {
  height: 34%;
  width: 80px;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.nav-icon-main {
  display: none;
}
.header-route {
  display: flex;
  margin: 20px;
}

.header-route li {
  list-style: none;
  padding-left: 30px;
}

.header-route li a {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  transform: 0.3s ease-in-out;
  position: relative;
}

.header-route li a.active,
.header-route li a:hover {
  color: goldenrod;
}

.header-route li a:hover::after {
  content: "";
  width: 50%;
  height: 3px;
  background: goldenrod;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.header-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
  color: white;
  /* left: 40px; */
}

.header-body1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.header-body2 {
  font-size: 2rem;
  font-weight: 800;
}

.header-body3 {
  font-size: 0.8rem;
  font-weight: 400;
}

.get-started {
  margin-top: 35px;
  padding: 16px;
}

.mobileNav {
  display: none;
}

@media screen and (max-width: 760px) {
  .mobileNav {
    display: block;
  }
  .mobile-nav{
    position: fixed;
  }

  .header-route {
    display: none;
  }
  .mobile-nav-icon {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 30px;
    background-color: rgba(17, 1, 32, 0.6);
  }

  .mobile-header-route {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(17, 1, 32);
    width: 300px;
    height: 68vh;
    margin: 0 0 0 0;
    position: absolute;
    z-index: 50;
    right: 0px;
  }

  .mobile-header-route li {
    list-style: none;
    padding-left: 30px;
    padding: 10px 0 10px 10px;
    margin-top: 6px;
  }

  .mobile-header-route li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    transform: 0.3s ease-in-out;
    color: white;
  }



  .mobile-header-route li a.active,
  .mobile-header-route li a:after {
    color: goldenrod;
    /* background: transparent; */
  }

  .mobile-header-route li a:hover {
    background-color: goldenrod;
    color: rgb(17, 1, 32);
   
  }

  .mobile-header-route li:hover{
    background-color: goldenrod;
    width: 100%;
    text-align: left;
  }

  .mobile-nav-icon-main {
    display: flex;
    justify-content: end;
    padding: 10px 0 10px 0;
  }

  .mobile-no-nav {
    width: 300px;
  }

}
